<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/templateCSS/menu.css}">
    <link rel="stylesheet" th:href="@{/css/templateCSS/footer.css}">
    <link rel="stylesheet" th:href="@{/css/body.css}">
    <link rel="stylesheet" th:href="@{/css/results.css}">

    <title>DRINK CITY</title>
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>

<main class="home-container">
    <div th:insert="fragments/home-content :: homeContent"></div>
</main>


<script th:src="@{/js/buttons.js}"></script>
<script th:if="${@environment.getProperty('google.maps.api-key')}"
        th:src="${'https://maps.googleapis.com/maps/api/js?key=' + @environment.getProperty('google.maps.api-key') + '&libraries=places'}"
        async
        defer>
</script>

<<script th:src="@{/js/apiMaps.js}"></script>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
