<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Clientes/login.css">
    <title>login</title>
</head>
<body>

<form th:action="@{/login}" method="post">
    <main class="login-page">
        <div class="container">

        <h1>Login</h1>

        <div class="input-box">
            <input name="username" type="email" placeholder="Usuário" required>
        </div>

        <div class="input-box">
            <input name="password" id="senha" type="password" placeholder="Senha" required>
            <span><img id="toggleSenha" src="/img/passwordImg/passwordBlock.png"
                       alt="Ilustração de olho não vendo a senha"> </span>
        </div>
        <p th:if="${param.erro}" th:text="${erro}" style="color:red; margin-bottom: 10px;"></p>

        <div class="lembrar-senha">
            <a href="#">Esqueci a Senha</a>
        </div>

        <button type="submit" class="login">Entrar</button>

        <div class="sem-conta">
            <p>Não tem uma conta? <a th:href="@{/cadastro}">Cadastre-se</a></p>
        </div>
        </div>
    </main>
</form>


<script src="/js/Clientes/Login.js"></script>
</body>
</html>